body {
	font: normal 12px "Trebuchet MS";
	color: #111111;
	margin: 0px !important;
	padding: 0px !important;
}

/** Main  Header Styles **/
header{
	padding-bottom:36px;
	background: url(./menu_bar.gif) bottom left repeat-x;
}

header img{
	margin: 30px 0 0 20px;
}

a.site-logo {
	background: url(./logo.jpg) no-repeat;
	display:block;
	width:250px;
	height:70px;
	margin: 30px 0px 0px 25px;
}

/** Side Menu Styles **/
aside {
	width: 23%;
	float: left;
	-webkit-box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	-moz-box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	min-height: 500px;
}

aside ul{
	padding-top:10px;
	padding-left:20px;
}

aside li{
	list-style: none;
}

aside li a{
	font-size:12pt;
	font-weight:bold;
}

li a{
	color: #666;
	text-decoration: none;
	line-height: 1.5em;
	text-shadow: 0 1px 0 white;
	margin: 2px 0;
}

/** Hyperlink Styles **/
a, a:visited {
	color:#5E5E5E;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

/** Generic Module View Styles **/
article{
	border: 1px solid #9BA0AF;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 10px 20px;
}

article header{
	padding:0;
	height: 38px;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 96%, #bababa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(96%,#fefefe), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 96%,#bababa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 96%,#bababa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 96%,#bababa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 96%,#bababa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

article header h1,h2,h3,h4,h5,h6{
	text-shadow: 0 1px 0 white;
	padding : 8px;
	margin: 0px 18px;
}

article div{
	padding:5px;
}


/** Generic Table Styles **/
table { 
	width:100%;
	border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border-bottom: 1px dotted #ccc;
	text-align: left; 
}

/** Main Content and Positioning  Styles **/
.appcontent {
	width:75%;
	padding-left:10px;
	float:left;
}

.width_quarter {
	width: 25%;
	margin-right: 0;
}

.width_3_quarter {
	width: 65%;
	margin-right: 0;
}

.left{
	float:left;
}

.right{
	float:right;
}



.clear {
	clear: both;
}


/*salesinfo panel*/
#panel {
	width: 900px;
	margin: 0px auto 0px auto;
}
#salesInfo-div {
	width: 600px;
	float: right;
}

#treeView {
	width: 90%;
	float: left;
}


/*Salesinfo chart view*/
#chart-div {
	width: inherit;
	height: auto;
}

#chart-div table{
	width:auto;
}

#chart-placeholder {
	height: 200px;
}

#salesInfo-div {
	position: relative;
	left: -230px;
}

#salesinfo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
