body {
    font: normal 11px "Trebuchet MS";
    color: #111111;
    margin: 10px 0px !important;
    padding: 0px !important;
    background: url(back.png);
}

input, select, textarea {
    font: normal 11px "Trebuchet MS";
    color: #111111;
}

/** Main  Header Styles **/
header {
    height: 119px;
    width: 980px;
    margin: 0px auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url(headerBack.png) repeat-x;
}

a.site-logo {
    background: url(logo.png) no-repeat;
    display: inline-block;
    width: 183px;
    height: 34px;
    float: left;
    margin: 20px;
}

.lower-header-content {
    width: 980px;
    margin: 15px auto 10px auto;
}

/** Top Menu Styles **/
.black-title-with-bullet, #product-module-a, #product-module-b {
    display: none;
}

aside {
    width: 980px;
    position: absolute;
    color: #333333;
    left: 50%;
    top: 97px;
    margin-left: -480px;
}

aside ul {
    padding: 0px;
    margin: 0px;
    display: inline;
    float: left;
}

aside li {
    list-style: none;
    padding: 0px 25px;
    color: #ffffff;
    display: inline;
    float: left;
}

aside li a, aside span a {
    text-decoration: none !important;
    padding: 5px 0px;
    display: block;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: normal !important;
    text-shadow: 1px 1px #000000;
}

aside li a:hover, aside span a:hover {
    text-decoration: none !important;
    padding: 5px 0px;
    display: block;
    text-transform: uppercase;
    font-weight: normal !important;
    color: #999999 !important;
    text-shadow: 1px 1px #000000;
}

.text-center {
	text-align: center;
	font-size: 12px !important;
}

.text-solid {
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px 10px 10px; 
}

.menu-item {
    padding: 1px 50px 0px 32px;
    display: block;
    height: 24px;
}

/** Hyperlink Styles **/
a:link, a:visited, a:active {
    color: #d70000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/** Generic Table Styles **/
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(even) {
    background: #eee;
}

th {
    background: #777777;
    color: white;
    font: bold 11px Tahoma;
    padding: 5px 6px;
    text-align: left;
}

td {
    padding: 4px 6px;
    border-bottom: 1px dotted #ccc;
    text-align: left;
}

/** Main Content and Positioning  Styles **/
h4 {
    font: bold 11px Tahoma !important;
}

p {
    line-height: 16px;
}

.width_quarter {
    width: 25%;
    margin-right: 0;
}

.width_3_quarter {
    width: 72%;
    margin-right: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/** Footer  Styles **/
.footer div.wrapper {
    clear: both;
}

.footer div.content {
    width: 980px;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    color: #666666;
}

/**Portlets and Title Styls**/

.portlet-blue, .portlet-black, .portlet-gray {
    background-color: #ffffff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 3px #d3d3d3;
    -webkit-box-shadow: 0px 0px 3px #d3d3d3;
    box-shadow: 0px 0px 3px #d3d3d3;
}

.gray-title-with-bullet, .portlet-gray .title, .black-title-with-bullet, .portlet-black .title, .blue-title-with-bullet, .portlet-blue .title {
    background-image: url(grayTitleBack.png);
    background-repeat: repeat-x;
    height: 40px;
    margin-bottom: 18px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.gray-title-with-bullet span, .portlet-gray .title span, .black-title-with-bullet span, .portlet-black .title span, .blue-title-with-bullet span, .portlet-blue .title span {
    display: block;
    background-image: url(bullet1.png);
    background-repeat: no-repeat;
    background-position: 12px 18px;
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    font: bold 11px Tahoma;
    text-transform: uppercase;
    padding: 15px 8px 5px 25px;
}

.portlet-gray .content, .portlet-black .content, .portlet-blue .content {
    padding: 0px 25px 15px 25px;
}

button{
    background-image: url("btnBack.png");
    background-repeat: repeat-x;
    color: #ffffff;
    text-shadow: 1px 1px #333333;
    border: 1px solid #333333;
    height: 24px;
    font: normal 11px Tahoma;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.portlet-blue .sub-title, .portlet-gray .sub-title, .portlet-black .sub-title {
    margin-bottom: 15px;
    margin-top: 10px;
    font: bold 11px Tahoma;
}

/**Error Messages**/

.error {
    display: inline-block;
    background-image: url(errorDown.png);
    background-repeat: no-repeat;
    padding: 7px 6px 4px 9px;
    color: #ffffff;
    font: normal 11px "Trebuchet MS";
    position: absolute;
}

/**form styles**/

.input-field {
    padding-bottom: 5px;
}

.input-field span {
    width: 150px;
    display: inline-block;
}

/**List Styles**/
.horizontal-list {
    margin: 30px 15px 0px 15px;
    float: right;
}

.horizontal-list li {
    float: left;
    padding-right: 16px;
    list-style: none;
}

.horizontal-list li:first-child {
    color: #dea0a8;
}

.horizontal-list li a {
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    color: #f1f1f1;
    padding: 0px 4px;
    display: block;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.horizontal-list li a:hover {
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    color: #d70000;
    background-color: #f1f1f1;
    padding: 0px 4px;
    display: block;
    -moz-border-radius: 4px;
    border-radius: 4px;
}