body {
	font: normal 12px "Trebuchet MS";
	color: #111111;
	margin: 0px !important;
	padding: 0px !important;
}

/** Main  Header Styles **/
header{
	padding-bottom:36px;
	background: url(./menu_bar.gif) bottom left repeat-x;
}

header img{
	margin: 30px 0 0 20px;
}

a.site-logo {
	background: url(./logo.jpg) no-repeat;
	display:block;
	width:250px;
	height:70px;
	margin: 30px 0px 0px 25px;
}


/** Side Menu Styles **/
aside {
	width: 23%;
	float: left;
	-webkit-box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	-moz-box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	box-shadow: 2px -1px 4px rgba(120, 120, 120, 0.75);
	min-height: 500px;
	
	color: #666;
	text-decoration: none;
	line-height: 1.5em;
	text-shadow: 0 1px 0 white;
	margin: 2px 0;
}

aside ul{
	padding-top:10px;
	padding-left:20px;
	font-size:12pt;
	font-weight:bold;
	color: #AA203B;
}


aside li{
	padding-left:25px;
	padding-top:5px;
	list-style: none;
	font-size:10pt;
	font-weight:bold;
}



/** Hyperlink Styles **/
a, a:visited {
	color:#5E5E5E;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

/** Generic Module View Styles **/
article{
	border: 1px solid #B96868;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 10px 20px;
}

article header{
	padding:0;
	height: 38px;
	background: #ce6364; /* Old browsers */
	background: -moz-linear-gradient(top,  #ce6364 0%, #bf4648 50%, #a31616 52%, #db3639 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce6364), color-stop(50%,#bf4648), color-stop(52%,#a31616), color-stop(100%,#db3639)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ce6364 0%,#bf4648 50%,#a31616 52%,#db3639 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ce6364 0%,#bf4648 50%,#a31616 52%,#db3639 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ce6364 0%,#bf4648 50%,#a31616 52%,#db3639 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ce6364 0%,#bf4648 50%,#a31616 52%,#db3639 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce6364', endColorstr='#db3639',GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	text-shadow: 0 1px 0 #666;
}

article header h1,h2,h3,h4,h5,h6{
	padding: 8px;
	margin: 0px 18px;
	font-size: 10pt;
}

article div{
	padding:5px;
}


/** Generic Table Styles **/
table { 
	width:100%;
	border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border-bottom: 1px dotted #ccc;
	text-align: left; 
}


.main-menu ul a, a:visited {
	color:#AA203B;
}


.main-menu li a, a:visited {
	color:#5E5E5E;
}


/** Main Content and Positioning  Styles **/
.main-content{
	width:75%;
	padding-left:10px;
	float:left;
}

.width_quarter {
	width: 25%;
	margin-right: 0;
}

.width_3_quarter {
	width: 65%;
	margin-right: 0;
}

.left{
	float:left;
}

.right{
	float:right;
}

.theme-selector {
	margin-right:30px;
	margin-top:48px;
	float:right;
}